@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import url('fontawesome-all.min.css');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

$yellow: #FFE800;
$brown: #404040;
$blue: #1CD3F8;
$angle: 8px;
$angle-o: 4px;
$linkedInBlue: #007bb5;
$githubPurp: #8f01fbe8;

#self-img {
  height: 350px;
  width: 240px;
}
ul.nav { text-align: center; }
#header {
  ul li {
    list-style-type: none;

    p {
      font-family: Raleway, sans-serif !important;
      margin: 0 0 0 0 !important;
      font-size: 18px;
      font-weight: 600;
    }

    a#linkedin-part {
      border: $linkedInBlue 1px solid;
    }

    a#github-part {
      border: $githubPurp 1px solid;
    }

    &:not(:last-child) {
      margin: 0 0 40px 0;
    }
  }
}
.btn-header {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 11px 17px 11px 17px;
  background-color: white;
  box-shadow: -6px 6px 0 black;
  color: $brown;
  font-family: arial;
  letter-spacing: 1px;
  width: 160px;
  height: 63px;
  text-decoration: none;

  &#linkedin-part{
    box-shadow: -6px 6px 0 $linkedInBlue;
    &:hover {
      box-shadow: -3px 3px 0 $linkedInBlue;
    }
  }

  &#github-part{
    box-shadow: -6px 6px 0 $githubPurp;
    &:hover {
      box-shadow: -3px 3px 0 $githubPurp;
    }
  }

  &:hover {

    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 black;

    &::after {
      top: 1px;
      left: -2px;
      width: $angle-o;
      height: $angle-o;
    }

    &::before {
      bottom: -2px;
      right: 1px;
      width: $angle-o;
      height: $angle-o;
    }
  }

  &#linkedin-part::after {
    background-color: $linkedInBlue;
  }

  &#github-part::after {
    background-color: $githubPurp;
  }

  &::after {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: $angle;
    height: $angle;

    transform: rotate(45deg);
    z-index: -1;

  }

  &#linkedin-part::before {
    background-color: $linkedInBlue;
  }

  &#github-part::before {
    background-color: $githubPurp;
  }

  &::before {
    transition: all .15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: $angle;
    height: $angle;
    background-color: $linkedInBlue;
    transform: rotate(45deg);
    z-index: -1;
  }
}

a.btn-header { position: relative; }

a:active.btn-header {
  top: 6px;
  left: -6px;
  box-shadow: none;

  &:before {
    bottom: 1px;
    right: 1px;
  }

  &:after {
    top: 1px;
    left: 1px;
  }
}
